/*! Custom CSS */

@media (min-width: 32em) {
    body {
        font-size: 102%;
    }
}

@media (min-width: 54em) {
    body {
        font-size: 105%;
    }
}

@media (min-width: 65em) {
    body {
        font-size: 106%;
    }
}

@media (min-width: 75em) {
    body {
        font-size: 107%;
    }
}

@media (min-width: 93em) {
    body {
        font-size: 114%;
    }
}

.top-search {
    position: absolute;
    right: 0;
    margin-right: 1em;
    border-left: solid 1px #5f76a3;
    height: 100%;
    display: table;
}

.top-search a {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    padding: 1em 0 1em 1em;
    font-size: 1.3em;
}

.mobile-menu-toggle {
    position: absolute;
    z-index: 991;
    height: 3rem;
    width: 3rem;
    top: 0;
    right: 0.5em;
}

.site-header__wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #002d72;
}

.site-header__menu-bars {
    position: relative;
    left: 0;
    right: 0;
    top: 15px;
    width: 2.5rem;
    height: 1px;
    margin: 0.75em auto;
    background: #fff;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.site-header__menu-bars:before {
    top: -7px
}

.site-header__menu-bars:after {
    top: 7px
}

.site-header__menu-bars:after,
.site-header__menu-bars:before {
    content: '';
    display: block;
    width: 2.5rem;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.site-header__menu-bars:hover {
    cursor: pointer
}

.menu-is-open .site-header__menu-bars {
    background: transparent;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.menu-is-open .site-header__menu-bars:after,
.menu-is-open .site-header__menu-bars:before {
    top: 0 !important;
    background: #fff !important;
    zoom: 1
}

.menu-is-open .site-header__menu-bars:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.menu-is-open .site-header__menu-bars:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.menu-is-open .dropdown>.dropdown__trigger:after {
    right: 1em;
    position: absolute;
    top: 9px;
    font-size: 1em;
    opacity: 0.5;
}

.dropdown ul.menu-vertical li {
    /* float: none; */
    opacity: 0!important;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.dropdown.dropdown--active ul.menu-vertical li {
    opacity: 1!important;
}

.dropdown ul.menu-vertical li:nth-child(1) {
    -webkit-transition-delay: 0.035s;
    -moz-transition-delay: 0.035s;
    transition-delay: 0.035s;
}

.dropdown ul.menu-vertical li:nth-child(2) {
    -webkit-transition-delay: 0.07s;
    -moz-transition-delay: 0.07s;
    transition-delay: 0.07s;
}

.dropdown ul.menu-vertical li:nth-child(3) {
    -webkit-transition-delay: 0.105s;
    -moz-transition-delay: 0.105s;
    transition-delay: 0.105s;
}

.dropdown ul.menu-vertical li:nth-child(4) {
    -webkit-transition-delay: 0.14s;
    -moz-transition-delay: 0.14s;
    transition-delay: 0.14s;
}

.dropdown ul.menu-vertical li:nth-child(5) {
    -webkit-transition-delay: 0.175s;
    -moz-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

.dropdown ul.menu-vertical li:nth-child(6) {
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

.dropdown ul.menu-vertical li:nth-child(7) {
    -webkit-transition-delay: 0.245s;
    -moz-transition-delay: 0.245s;
    transition-delay: 0.245s;
}

.dropdown ul.menu-vertical li:nth-child(8) {
    -webkit-transition-delay: 0.28s;
    -moz-transition-delay: 0.28s;
    transition-delay: 0.28s;
}

.dropdown ul.menu-vertical li:nth-child(9) {
    -webkit-transition-delay: 0.315s;
    -moz-transition-delay: 0.315s;
    transition-delay: 0.315s;
}

.dropdown ul.menu-vertical li:nth-child(10) {
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

@media all and (max-width: 767px) {
    .site-header__wrap {}
}

input[type="search"] {
    width: 100%
}


.btn-line,
.btn-line.btn--white,
.btn-line.btn--alpha,
.btn-line.btn--beta {
    font-size: .75em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    line-height: 1;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-line {
    color: #005eb8
}

.btn-line:after {
    content: '';
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 0rem;
    background-color: #005eb8;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

.btn-line:hover,
a:hover .btn-line {
    color: #005eb8;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

@media (min-width: 54em) {
    .btn-line:hover:after,
    a:hover .btn-line:after {
        width: 99%;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease
    }
}

.btn-line.btn--white {
    color: #fff
}

.btn-line.btn--white:after {
    content: '';
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 0rem;
    background-color: #fff;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

.btn-line.btn--white:hover,
a:hover .btn-line.btn--white {
    color: #fff;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

@media (min-width: 54em) {
    .btn-line.btn--white:hover:after,
    a:hover .btn-line.btn--white:after {
        width: 99%;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease
    }
}

.btn-line.btn--alpha {
    color: #002d72
}

.btn-line.btn--alpha:after {
    content: '';
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 0rem;
    background-color: #002d72;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

.btn-line.btn--alpha:hover,
a:hover .btn-line.btn--alpha {
    color: #002d72;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

@media (min-width: 54em) {
    .btn-line.btn--alpha:hover:after,
    a:hover .btn-line.btn--alpha:after {
        width: 99%;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease
    }
}

.btn-line.btn--beta {
    color: #FF9800;
}

.btn-line.btn--beta:after {
    content: '';
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 0rem;
    background-color: #f1c400;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

.btn-line.btn--beta:hover,
a:hover .btn-line.btn--beta {
    color: #f1c400;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease
}

@media (min-width: 54em) {
    .btn-line.btn--beta:hover:after,
    a:hover .btn-line.btn--beta:after {
        width: 99%;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease
    }
}

h1.cover-title {
    margin-top: 4em;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0!important;
}

.cover-features .row:nth-child(2) {
    margin-top: 4em;
}

.box--shadow {
    box-shadow: 0px 10px 20px #0000001f;
}

.announce h5 {
    font-size: 1.1em;
    line-height: 1.2em;
    text-transform: unset;
}

.announce span.info {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.announce .date {
    font-size: 0.9em;
}

h1.cover-title span {
    font-size: 1.5em;
    font-weight: 600;
    /* font-family: 'Playfair Display'; */
}

.header-center div[class*='col-']:first-child:last-child {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.feature-header {
    display: table;
}

.feature-header h3,
.feature-header h4 {
    display: table-cell;
    vertical-align: middle;
}

.bg--blue {
    background: #215fc7;
}

.bg--yellow {
    background: #FF9800;
}

footer {
    border-top: solid 14px #e67c00;
}

.bg--darkblue {
    background: #1c2e89;
}

.bg--lightblue {
    background: #e4ebf7;
}

.bg--lightblue .boxed {
    border: none;
    box-shadow: 0px 10px 10px #192d8f14;
}

.add-speaker .feature-8 {
    padding-top: 2em;
    padding-bottom: 0;
}

.add-speaker .feature-8 img {
    max-height: 9em;
}

.bg--navy {
    background: #08439c;
}

.bar-2 {
    background: #002d72;
    padding: 0.4em;
}

.wide-container {}

.intro.bg--dark .boxed:not([class*='bg-']).boxed--border {
    border-color: #4866b3;
    padding: 1.6em;
}

.main-container .intro p {
    font-size: 1.1em;
    line-height: 1.7em;
}

.intro p.lead {
    font-size: 1.1em;
}

.intro p.lead br {}

.intro .feature-2 i {
    width: 15%;
}

.intro .feature-2 .feature__body {
    width: 85%;
}

.cover-features .row.tema {
    margin-top: 8em;
}

.intro .tema {
    width: 100%;
    font-size: 1.6em;
    float: none;
    text-align: right;
    font-style: italic;
    padding-top: 2em;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.tema p {
    font-style: italic;
    font-size: 1.7em;
}

.tema .label {
    font-size: 0.9em;
}

.topic {
    margin-bottom: 0;
}

.topic li:last-child {
    border-bottom: none;
}

ol.topic li {
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    margin-bottom: 0;
    font-size: 1.1em;
    /* color: #ffffff; */
    border-bottom: solid 1px #c7cbd4;
}

.bg--dark ol.topic li {
    color: #fff;
    border-color: #4866b3;
}

.center-block [class*=col-] {
    float: none;
    /* display: inline-block; */
}

.modal-container .modal-content {
    /*-webkit-transform: inherit !important;
-moz-transform: inherit !important;
-o-transform: inherit !important;
transform: inherit !important;*/
    /* backface-visibility: initial; */
}

.process__item h5 {
    margin-bottom: 1em;
}

.process-2 .process__item h5 {
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: normal;
}

.process-2 .process__item {
    padding-top: 2.4em;
}

.process-2 .process__item p {
    line-height: 1.6em;
    font-size: 0.9em;
}

section[name="landing"] {
    /* height: 500px; */
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    padding-top: 0;
}

.slide h1 {
    font-size: 5em;
}

.cover {
    position: relative;
}

.cover h1 {
    font-weight: 600;
}

.negative--top {
    margin-top: -4em;
    padding-top: 0;
}

.cover::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    background: rgb(0, 44, 118);
    /* background: url("http://poli-p2m.test/wp-content/themes/upt-p2m/img/bg-polinema.jpg"); */
}

section[name="landing"] {
    /* height: 500px; */
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    padding-top: 0;
}

@media (min-width: 768px) {
    .modal-instance+.btn--sm {
        margin-left: 0.9em;
    }
}

@media only screen and (min-width: 62rem) {
    section[name="landing"] {
        /* height: 520px; */
    }
}


.title {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.312rem;
}

@media only screen and (min-width: 62rem) {
    .title {
        font-size: 4.75rem;
        line-height: 3.938rem;
    }
}

.title--subtitle {
    font-size: 0.938rem;
    color: rgba(144, 161, 163, 0.4);
    text-transform: uppercase
}

@media only screen and (min-width: 48rem) {
    .title--subtitle {
        font-size: 1.25rem
    }
}

.title--alpha,
.title--beta {
    display: block;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 16px 0
}

.title--alpha-light {
    display: block;
    font-weight: 300;
    font-size: 1.312rem;
    color: #38cae7;
    text-transform: uppercase;
}

@media only screen and (min-width: 48rem) {
    .title--alpha,
    .title--beta {
        font-size: 2.188rem;
        line-height: 2.188rem;
        margin: 30px 0
    }
    .title--alpha-light {
        font-size: 2rem
    }
}

.title--beta {
    display: block;
    margin: 0 0 16px;
    text-transform: uppercase;
    line-height: 1rem;
}

.title--beta-light {
    display: block;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #c6e8a6;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

@media only screen and (min-width: 62rem) {
    .title--beta {
        font-size: 1.562rem;
        line-height: 1.6rem
    }
    .title--beta-light {
        font-size: 1.25rem;
        line-height: 1.6rem;
        margin-bottom: 0;
    }
}

.title--gamma {
    display: block;
    font-size: 1.875rem;
    line-height: 1.688rem;
    letter-spacing: -0.4px;
    color: #3c4545;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: 700
}

.title--gamma-blue {
    display: block;
    font-weight: 700;
    color: #1868ac;
    font-size: 0.875rem;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.title--delta {
    display: block;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #505c54
}

.title--epsilon {
    display: block;
    font-size: 1.125rem;
    letter-spacing: -0.4px;
    color: #3c4545;
    font-weight: 700;
    text-transform: uppercase
}

@media only screen and (min-width: 62rem) {
    .title--epsilon {
        color: #04256c;
        font-size: 1.125rem;
    }
}

@media only screen and (min-width: 75rem) {
    .title--epsilon {
        font-size: 1.562rem;
        line-height: 1.688rem
    }
}

.title--zeta {
    display: block;
    color: white;
    font-size: 1.875rem;
    line-height: 1.875rem;
    font-weight: 700;
    text-transform: uppercase
}

.caption p {
    font-size: 1.2em;
    width: 30%;
}

.overlay {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    position: absolute;
    z-index: 0;
    overflow: auto;
    top: 0;
}

.sero {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.85) 95%);
}


.uno {
    background: rgba(0, 0, 0, 0.27);
    background: linear-gradient(180deg, rgba(15, 39, 142, 0.58) 13%, rgba(45, 69, 202, 0.23) 100%);
}

.duo {
    background: rgba(244, 67, 54, 0.43);
    background: linear-gradient(to bottom right, rgba(181, 33, 33, 0.88), rgba(4, 205, 245, 0.73));
    /* Standard syntax */
}

.trio {
    background: rgba(233, 30, 99, 0.5);
    background: linear-gradient(to bottom right, rgba(74, 16, 84, 0.78), rgba(63, 81, 181, 0.82));
}

.quarto {
    background: rgba(56, 30, 233, 0.17);
    background: linear-gradient(to bottom right, rgba(147, 160, 12, 0.62), rgba(4, 246, 228, 0.65));
}

.limo {
    background: linear-gradient(-40deg, #eaeaea 5%, #ffffff 80%);
}

.footer-widget .textwidget p {
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 1.68421053em;
}

.footer-widget .textwidget .alamat {
    font-size: 1.1em;
}

.footer-widget .textwidget .phone {
    font-size: 1.5em;
    margin-top: 0.3em;
}

.footer {
    display: flex;
    float: none!important;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

* {
    /* outline: solid 1px red; */
}

img.img-circle.author {
    width: 101px;
    height: 101px;
    object-fit: cover;
    object-position: top;
    margin-right: 1em;
    margin-bottom: 0;
}

.subtable .pegawai {
    display: flex;
    flex-wrap: wrap;
}

.subtable .pegawai-details {
    display: inline-block;
}

.subtable .nama {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2em;
}

@media (max-width: 1200px) {

    .menu-horizontal li:not(:last-child) {
        margin-right: 0.4em;
    }
}


mark {
    background: #fff6a4;
    font-style: italic;
}

mark {}

@media (max-width: 767px) {
    .menu-item {
        display: inline-block;
        width: 100%;
    }

    .top-search {
        display: none;
    }
}

.menu-horizontal>.current-menu-item > a, .menu-horizontal>.current-menu-item > span, .menu-horizontal>.current-menu-parent>span {
    /* border-bottom: solid 2px #FFC107; */
    color: #FFC107!important;
}

::selection {
    color: white;
    background: #002c76;
    text-shadow: none;
}

.pricetable {
    border: none;
}

.pricetable tr {
    border-bottom: none!important;
}

.pricetable tr th {
    text-align: center;
    vertical-align: middle!important;
}

.pricetable tr th .th {
    margin-bottom: 0;
    line-height: 1em;
}

.pricetable .p-1 {
    background: #f4f8fc80;
    /* border-right: solid 1px #b3d0de; */
    /* border-left: solid 1px #b3d0de; */
}

.pricetable .p-2 {
    background: #b5ddff73;
    /* border-right: solid 1px #b3d0de; */
    /* border-left: solid 1px #b3d0de; */
}

.pricetable .np {
    background: #ece5cf57!important;
}

.pricetable tr td {}

.pricetable tr:nth-child(3) td {
    background: #eada0f6b!important;
    font-size: 1.2em;
}

.pricetable tr:nth-child(3) {
    box-shadow: 0px -3px 10px #4e4e4e4f;
}

@media (max-width: 767px) {
    .pricetable tr td {}
    .pricetable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .pricetable tr .np {
        /* border-bottom: 3px solid #ddd; */
        /* display: block; */
        /* margin-bottom: .625em; */
    }
    .pricetable .np {
        /* border-bottom: 1px solid #ddd; */
        /* display: block; */
        /* font-size: .8em; */
        /* text-align: right; */
    }
    .pricetable td:before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.col-sm-12.pengumuman a {
    font-size: 0.9em;
}

.col-sm-12.pengumuman a:after {
    font-family: 'stack-interface';
    font-size: 11px;
    content: "\ea3c";
    margin-left: 6px;
}

.col-sm-12.pengumuman a:hover:after {
    margin-left: 8px;
}

.col-sm-12.pengumuman a:after {}

.col-sm-12.pengumuman a:hover {
    opacity: 0.7;
}

.col-sm-12.pengumuman .label {
    background: none;
    border: solid 1px #949494;
}

.login a {
    font-weight: normal;
}

.login input[type] {
    min-height: 42px;
    width: 100%;
}

.single-post article {
    box-shadow: 0 0 10px #ddd;
    padding: 4em;
}

article {}

.boxed .menu-vertical>li>a {
    color: #192d8f;
    /* border-bottom: solid 1px #d5ddf1; */
    /* background: #e4ebf8d9; */
    /* padding: 0.2em 1em; */
}

.boxed .menu-vertical>li:last-child>a {
    /* border-bottom: none; */
}

.boxed .menu-vertical>li>a.danger {
    /* background: #ddd; */
    color: red;
    /* padding: 0 1em; */
}

.bar-3 .bar__module>.menu-horizontal>li>a {
    font-weight: bold;
    border-bottom: none;
}

.bar-3 .bar__module>.menu-horizontal>li>a i {
    font-size: 1em;
    color: #82c3f7;
}

.bar-3 .bar__module>.menu-horizontal>li>a i.stack-search {
    font-size: 1.4em;
    color: #fff;
}

.bar-3 .bar__module>.btn {
    line-height: 1.3em;
}

@media (max-width: 767px) {
    input[type="search"] {
        width: 90%;
    }
    .bar-3 .bar__module>.btn {
        margin-bottom: 0 !important;
        display: inline-block;
    }
    .bar-3 .menu-horizontal li:not(:last-child) {
        margin-right: 0;
    }
    h1.cover-title {
        margin-top: initial;
        font-size: 2.5em;
    }
    h1.cover-title span {
        font-size: 1.2em;
    }



    .bar__module .btn:not(:last-child) {
        margin-right: 1em;
    }
}



.main-container p,
.main-container ul,
.main-container ol,
.main-container table {
    /* font-size: 1em; */
}

footer ul.menu>li {
    font-size: 0.9em;
}

footer ul.menu>li>a {
    text-transform: uppercase;
    opacity: 0.4;
    letter-spacing: 0.1em;
}

a:hover .btn-line {}

a.block>.feature {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}

a.block:hover>.feature {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}

a.block:hover>.feature p {
    color: #FF9800;
}


.feature-3 p {
    margin-bottom: 0.5em;
    color: #002c76;
    font-size: 1.2em;
    line-height: 1.3em;
}



ul.page-numbers li {
    display: inline-block;
    margin-right: 0.3em;
    height: 2em;
    width: 2em;
    border: solid 1px #ddd;
    text-align: center;
    border-radius: 50%;
}

ul.page-numbers {
    margin-bottom: 1em;
}

.main-speaker .feature-8 span {
    line-height: 1.4em;
    display: block;
}

.main-speaker .feature-8 h5 {
    line-height: 1.4em;
    margin-bottom: 10px;
}

.invited-speaker {
    font-size: 90%
}

.invited-speaker .feature-8 span {
    line-height: 1.4em;
    display: block;
}

.invited-speaker .feature-8 h5 {
    line-height: 1.4em;
    margin-bottom: 10px;
}

table.table--schedule {
    border: none;
    box-shadow: 0px 20px 20px #255f9a1c;
    margin-bottom: 1em;
}

.table--schedule td {
    vertical-align: top;
}

.table--schedule th,
.table--schedule th:nth-child(odd) {
    background: #fdf9d6;
    /* color: #fff; */
}

.table--schedule td:nth-child(even) {}

.table--schedule tr td:nth-child(2):not(.break) {
    background: #e3effdc7;
    width: 50%;
}

.table--schedule tbody tr:nth-child(even) {
    background: white;
}

table.table--schedule tr:not(:last-of-type) {
    border-color: #d8e9f98f;
}

.table--schedule tr td:nth-child(3) {
    width: 30%;
}

.table--schedule tr td:nth-child(1) {
    white-space: nowrap;
    width: 20%;
}

@media (max-width: 480px) {
    .table--schedule tr th {}
    .table--schedule tr td {
        display: block;
        width: 100%!important;
    }

    .table--schedule tr {
        display: block;
        border-bottom: solid 3px #f1c700!important;
    }

    .table--schedule thead tr {
        width: 100%;
        background: #fdf9d2;
    }
}

.download-links {
    display: table;
}

.download-links li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    /* width: 100%; */
}

.download-links li.doc a {
    color: #2196F3;
    /* background: #192d8f; */
    border-color: #2196F3;
}

.download-links li.doc a:before {
    content: 'DOC';
}

.download-links li a {
    /* width: 50%; */
    /* float: right; */
    color: #192d8f;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    /* width: 300px; */
    display: table;
    border: solid 2px #233fb9;
    border-radius: 3px;
    /* margin-right: 1em; */
    /* margin-bottom: 1em; */
    padding: 1em;
    background: aliceblue;
}

.download-links li a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.download-links li a:before {
    /* background: #2196F3; */
    \: "stack-interface";
    \: ;
    /* color: #fff; */
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: table-cell;
    vertical-align: middle;
    text-decoration: inherit;
    /* width: 1em; */
    margin-right: .2em;
    padding: 0 1em 0 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.download-links li.latex a:before {
    content: 'LATEX';
}

img.footer-logo {
    width: 90%;
    max-width: 250px;
    margin-bottom: 2em;
}

.bar--absolute.bg--blue {
    /* background: none!important; */
}

.bar--absolute.bg--blue.pos-fixed {
    background: #2641b2!important;
}

.bar.bar--sm.visible-xs {}

@media (max-width: 767px) {
    .bar .logo {
        width: 270px;
        max-width: 270px;
        height: 50px;
        top: 0;
        max-height: initial;
        margin-left: 1em;
        vertical-align: middle;
    }
    .menu-horizontal>li>a,
    .menu-horizontal>li>span {
        display: block;
        font-size: 1em;
        opacity: 1!important;
        padding: 0.5em;
        border-bottom: solid 1px #ffffff12;
    }

    .dropdown .dropdown__content:not([class*='bg-']) {
        background: inherit;
    }
    .sponsors {}
    .sponsors li {}
    .footer {
        display: block;
    }
    .center-block {
        display: block;
        padding-top: 2em;
    }

    .feature-8 img {
        margin-bottom: 1em;
    }

    .main-speaker .feature-8 h5 {
        margin-bottom: 0;
    }

    .center-block [class*=col-] {
        display: block;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    .footer img.footer-logo {
        width: 70%;
        text-align: center;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .bar .logo {
        width: 200px;
        max-height: initial;
    }
}




/* WPUF */

#wpuf-login-form label {}

.wpuf-message {
    font-size: 0.9em;
    line-height: 1.4em;
}

.wpuf-ajax-login-form label {
    display: none;
}

.wpuf-ajax-login-form p {
    margin-bottom: 1em;
}

.wpuf-ajax-login-form input {
    /* width: initial; */
}

.wpuf-user-loggedin {
    background-color: #f2f8ff;
    padding: 20px;
    border-radius: 3px;
    border: solid 1px #bad8e5;
}

.wpuf-user-loggedin h3 {
    display: inline-block;
}

.wpuf-user-loggedin p {
    display: block;
    margin-bottom: 0;
}

.wpuf-user-loggedin .wpuf-user-avatar {
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.wpuf-user-loggedin .wpuf-user-avatar img {
    border-radius: 5px;
}

table.wpuf-table {
    border: none;
}

table.wpuf-table tr:nth-child(2n) {
    background: rgb(253, 252, 247);
}

table.wpuf-table thead th,
table.wpuf-table th {
    /* border-color: #ea6645; */
    /* border-bottom: solid 2px; */
    border-top: 0;
    color: #252525;
    font-size: 14px;
    font-weight: normal;
    padding: 8px;
    border-bottom: 2px solid #ea6645;
}

table.wpuf-table td {
    padding: 15px 10px;
}

table.wpuf-table td:first-child {
    font-weight: 600;
}

ul.wpuf-form li .wpuf-label {
    /* padding-top: 10px; */
    font-size: 0.9em;
    margin-right: 20px;
    width: 21%;
    max-width: 220px;
    line-height: 1.5em;
    float: none;
}

ul.wpuf-form li .wpuf-label .required {
    position: absolute;
}

#pass-strength-result {
    font-size: 11px;
    padding: 3px;
    line-height: 1.8em;
}

ul.wpuf-form li .wpuf-label label {
    font-weight: bold;
    width: 100%;
    text-align: right;
    display: block;
}

ul.wpuf-form li .wpuf-fields input[type=text],
ul.wpuf-form li .wpuf-fields input[type=password],
ul.wpuf-form li .wpuf-fields input[type=email],
ul.wpuf-form li .wpuf-fields input[type=url],
ul.wpuf-form li .wpuf-fields input[type=number],
ul.wpuf-form li .wpuf-fields textarea {
    border-color: #bebfc7;
    background: #fcfcfc;
    color: initial;
    padding: 8px;
    /* min-width: 70%; */
    width: 100%;
    font-size: 0.85em;
}

ul.wpuf-form li .wpuf-fields input[type=text]:focus,
ul.wpuf-form li .wpuf-fields input[type=password]:focus,
ul.wpuf-form li .wpuf-fields input[type=email]:focus,
ul.wpuf-form li .wpuf-fields input[type=url]:focus,
ul.wpuf-form li .wpuf-fields input[type=number]:focus,
ul.wpuf-form li .wpuf-fields textarea:focus {
    border-color: #e5cc7f;
}

.wpuf-error-msg {
    color: #f44336;
    font-size: 0.9em;
}

.wpuf-submit .wpuf-label {
    display: none;
}

ul.wpuf-form li .wpuf-section-wrap {
    border-color: #f1f1f1;
    padding-bottom: 0;
}

ul.wpuf-form li {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul.wpuf-form li .wpuf-fields {
    width: 75%;
}

ul.wpuf-form li.field-size-large .wpuf-fields {
    float: none;
    width: initial;
}


ul.wpuf-form li .wpuf-section-wrap h2.wpuf-section-title {
    font-size: 1.1em;
    font-weight: 400;
    color: #3197d6;
}

ul.wpuf-form li.wpuf-submit {
    /* background: #eef1f7; */
    /* padding: 20px !important; */
    text-align: center;
    /* margin-top: 2em; */
}

ul.wpuf-form iframe {
    min-height: 300px;
}

ul.wpuf-form iframe html body p {
    font-size: 1.3em;
}

.wpuf-delete-avatar {
    padding: 1px 10px;
    /* display: block; */
    background: #e7342d;
    color: #fff;
    width: auto;
    border-radius: 3px;
    font-size: 11px;
    text-shadow: none;
}

ul.wpuf-form li .wpuf-fields p {
    line-height: 0;
    padding-top: 18px;
    display: inline-block;
    margin: 0;
}

.wpuf-dashboard-container .wpuf-dashboard-content {
    width: 100%;
}

.wpuf-dashboard-content legend {
    padding-top: 1em;
    color: inherit;
}

ul.wpuf-form .wpuf-submit input[type=submit] {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f1c700;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: 100%;
}

ul.wpuf-form .wpuf-submit input[type=submit]:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    ul.wpuf-form li .wpuf-label {
        width: 100%;
        float: none;
        padding: 0;
    }

    ul.wpuf-form li .wpuf-fields {
        width: 100%;
    }

    ul.wpuf-form li {
        margin-bottom: 0;
    }

    ul.wpuf-form li .wpuf-section-wrap {
        margin-bottom: 5px;
    }

    ul.wpuf-form li .wpuf-label label {
        text-align: left;
    }
}



/* EE */

.no-events-container .feature-2 {
    background: antiquewhite;
}

.no-events-container .feature-2 i {
    font-size: 3em;
    width: 10%;
}

.no-events-container .feature-2 .feature__body {
    width: 85%;
}



/* WPA */

.wpabstracts label {
    font-weight: normal;
}



.filter-bar {
    z-index: 6
}

.filter-bar .grid-xl {
    padding: 0 0 0.5em;
    border-bottom: 1px solid #002d72;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (min-width: 54em) {
    .filter-bar .grid-xl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.filter-bar__heading {
    display: none
}

@media (min-width: 54em) {
    .filter-bar__heading {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        display: block
    }
}

.filter-bar__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 54em) {
    .filter-bar__controls {
        width: 100%
    }
}

.filter-bar__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    width: 50%
}

@media (min-width: 54em) {
    .filter-bar__control {
        margin-left: 0.5em;
        width: 100%
    }
}

.filter-bar__title {
    position: relative;
    bottom: -0.5em
}

.filter-bar .dropdown {
    width: 93%
}

@media (min-width: 54em) {
    .filter-bar .dropdown {
        width: 10em
    }
}

@media (max-width: 54em) {
    .filter-bar .dropdown--loc {
        float: right
    }
}




/*Typing Loader*/

.typing_loader {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    margin: 0 auto;
    /* Not necessary- its only for layouting*/
    position: relative;
    left: -14px;
    vertical-align: middle;
    z-index: 9999;
}

@-webkit-keyframes typing {
    0% {
        background-color: rgba(18, 174, 244, 1);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 0.2),
        28px 0px 0px 0px rgba(18, 174, 244, 0.2);
    }
    25% {
        background-color: rgba(18, 174, 244, 0.4);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 2),
        28px 0px 0px 0px rgba(18, 174, 244, 0.2);
    }
    75% {
        background-color: rgba(18, 174, 244, 0.4);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 0.2),
        28px 0px 0px 0px rgba(18, 174, 244, 1);
    }
}

@-moz-keyframes typing {
    0% {
        background-color: rgba(18, 174, 244, 1);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 0.2),
        28px 0px 0px 0px rgba(18, 174, 244, 0.2);
    }
    25% {
        background-color: rgba(18, 174, 244, 0.4);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 2),
        28px 0px 0px 0px rgba(18, 174, 244, 0.2);
    }
    75% {
        background-color: rgba(18, 174, 244, 0.4);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 0.2),
        28px 0px 0px 0px rgba(18, 174, 244, 1);
    }
}

@keyframes typing {
    0% {
        background-color: rgba(18, 174, 244, 1);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 0.2), 28px 0px 0px 0px rgba(18, 174, 244, 0.2);
    }
    25% {
        background-color: rgba(18, 174, 244, 0.4);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 1), 28px 0px 0px 0px rgba(18, 174, 244, 0.2);
    }
    75% {
        background-color: rgba(18, 174, 244, 0.4);
        box-shadow: 14px 0px 0px 0px rgba(18, 174, 244, 0.2), 28px 0px 0px 0px rgba(18, 174, 244, 1);
    }
}


.reg-table {
    padding: 10px;
    /* border: solid 1px #eee; */
    color: #47515a;
    width: 100%;
    margin-bottom: 0;
    /* box-shadow: 0 0 20px #d0dcde; */
}

.reg-table>tbody {
    /* box-shadow: 0 0 20px #ddd; */
}

.reg-table th {
    position: relative;
    line-height: 1em;
    padding: 15px 5px;
    background: #ffc10724;
    background: transparent;
    border-bottom: solid;
    color: #FF9800;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    outline: none;
}

.reg-table tr td {
    padding: 15px 10px;
    /* border-bottom: solid 1px rgba(224, 232, 245, 0.25); */
    line-height: 1.3em;
    background: #fff;
    font-size: 1em;
    color: #132e71;
}

.reg-table tr td.tahun,
.reg-table tr td.noCount,
table.dataTable.display>tbody>tr:hover>td.tahun,
table.dataTable.display>tbody>tr:hover>td.noCount {
    background: #e0ecfb;
    font-size: 1.2em!important;
    font-weight: 600;
}

table.dataTable.display>tbody>tr:hover>td.tahun {}

.reg-table>tr:hover {
    /* box-shadow: 0 0 20px #ddd; */
    position: relative;
}

.reg-table>tr:hover>td {
    background: #e6eaff!important;
    /* color: #fff; */
}

.reg-table tr td.reg-action {
    /* background: rgb(234, 234, 234); */
    text-align: center;
}

.reg-table #expand-icon {
    width: 24px;
}

.reg-table #expand-icon span {
    background: #3F51B5!important;
}

.subtable {
    margin-bottom: 0;
    width: 100%;
    color: #47515a;
    animation: fadeIn .35s ease forwards;
    background: white;
    box-shadow: 0px 9px 20px #0000002b;
}

.subtable td {
    /* display: inline-block; */
}

table.subtable .lbl {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
    width: 60px;
    display: inline-block;
    color: #828282;
    margin-bottom: 0.4em;
    position: relative;
}

table.subtable .lbl:after {
    content: ":";
    position: absolute;
    right: 0;
}

table.subtable .judul {
    line-height: 1.1em;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.5em;
    white-space: normal;
}

.subtable tr td {
    vertical-align: top;
    border-bottom: 0;
    background: transparent;
}

.question-details {
    margin-bottom: 5px;
}

.question {
    width: 30%;
    display: inline-block;
    font-weight: 500;
}

.answer {
    display: inline-block;
    width: 70%;
}



/* Icon 3 */

#expand-icon {
    width: 20px;
    height: 10px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#expand-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #8bc34a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#expand-icon span:nth-child(1) {
    top: 0px;
}

#expand-icon span:nth-child(2),
#expand-icon span:nth-child(3) {
    top: 5px;
}

#expand-icon span:nth-child(4) {
    top: 10px;
}

#expand-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#expand-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #3F51B5;
}

#expand-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #3F51B5;
}

#expand-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

@media (max-width: 476px) {
    .reg-table tr td {
        display: block;
        width: 100%;
        box-sizing: border-box!important;
        white-space: normal;
    }

    .subtable .nama {
        text-align: center;
        display: block;
    }

    img.img-circle.author {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .reg-table thead {
        display: none;
    }

    .reg-table tr {
        width: 100%;
        display: block;
    }
}


.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    line-height: 1.25em;
    font-size: 0.85em;
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}