@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon%20Grotesque-Medium.eot");
    src: url("http://p2m.polinema.ac.id/wp-content/themes/upt-p2m/fonts/Brandon%20Grotesque-Medium?#iefix") format("embedded-opentype");
    src: url("../fonts/Brandon%20Grotesque-Medium.woff2") format("woff2");
    src: url("../fonts/Brandon%20Grotesque-Medium.woff") format("woff");
    src: url("../fonts/Brandon%20Grotesque-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon%20Grotesque-Bold.eot");
    src: url("http://p2m.polinema.ac.id/wp-content/themes/upt-p2m/fonts/Brandon%20Grotesque-Bold?#iefix") format("embedded-opentype");
    src: url("../fonts/Brandon%20Grotesque-Bold.woff2") format("woff2");
    src: url("../fonts/Brandon%20Grotesque-Bold.woff") format("woff");
    src: url("../fonts/Brandon%20Grotesque-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("http://p2m.polinema.ac.id/wp-content/themes/upt-p2m/fonts/Brandon%20Grotesque-Lighteot");
    src: url("http://p2m.polinema.ac.id/wp-content/themes/upt-p2m/fonts/Brandon%20Grotesque-Light?#iefix") format("embedded-opentype");
    src: url("../fonts/Brandon%20Grotesque-Light.woff2") format("woff2");
    src: url("../fonts/Brandon%20Grotesque-Light.woff") format("woff");
    src: url("../fonts/Brandon%20Grotesque-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}