@font-face {
    font-family: 'stack-interface';
    src: url('../fonts/icomoon-33839631.eot');
    src: url('../fonts/icomoon-33839631.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-33839631.woff') format('woff'),
    url('../fonts/icomoon-33839631.ttf') format('truetype'),
    url('../fonts/icomoon-33839631.svg#stack-interface') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stack-interface';
    src: url('http://p2m.polinema.ac.id/wp-content/themes/upt-p2m/font/stack-interface.svg?34857618#stack-interface') format('svg');
  }
}
*/

[class^="stack-"]:before,
[class*=" stack-"]:before {
    font-family: "stack-interface";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.stack-document:before {
    content: "\e900";
}

.stack-down-open-big:before {
    content: "\e800";
}

.stack-left-open-big:before {
    content: "\e801";
}

.stack-right-open-big:before {
    content: "\e802";
}

.stack-up-open-big:before {
    content: "\e803";
}

.stack-basket:before {
    content: "\e804";
}

.stack-search:before {
    content: "\e805";
}

.stack-down-dir:before {
    content: "\e806";
}

.stack-left-dir:before {
    content: "\e807";
}

.stack-right-dir:before {
    content: "\e808";
}

.stack-up-dir:before {
    content: "\e809";
}

.stack-down-open:before {
    content: "\e80a";
}

.stack-left-open:before {
    content: "\e80b";
}

.stack-right-open:before {
    content: "\e80c";
}

.stack-up-open:before {
    content: "\e80d";
}

.stack-menu:before {
    content: "\e80e";
}

.stack-users2:before {
    content: "\e80f";
}

.stack-publish:before {
    content: "\e810";
}

.stack-trash:before {
    content: "\e811";
}

.stack-bell:before {
    content: "\e812";
}

.stack-cog2:before {
    content: "\e813";
}

.stack-plus-circled:before {
    content: "\e814";
}

.stack-dot-3:before {
    content: "\e815";
}

.stack-pen:before {
    content: "\e908";
}

.stack-files-empty:before {
    content: "\e925";
}

.stack-file-text2:before {
    content: "\e926";
}

.stack-stack:before {
    content: "\e92e";
}

.stack-qrcode:before {
    content: "\e938";
}

.stack-ticket:before {
    content: "\e939";
}

.stack-phone:before {
    content: "\e942";
}

.stack-location:before {
    content: "\e947";
}

.stack-calendar:before {
    content: "\e953";
}

.stack-download:before {
    content: "\e960";
}

.stack-upload:before {
    content: "\e961";
}

.stack-user:before {
    content: "\e971";
}

.stack-users:before {
    content: "\e972";
}

.stack-user-plus:before {
    content: "\e973";
}

.stack-user-minus:before {
    content: "\e974";
}

.stack-user-check:before {
    content: "\e975";
}

.stack-cog:before {
    content: "\e994";
}

.stack-meter:before {
    content: "\e9a6";
}

.stack-clipboard:before {
    content: "\e9b8";
}

.stack-download3:before {
    content: "\e9c7";
}

.stack-link:before {
    content: "\e9cb";
}

.stack-attachment:before {
    content: "\e9cd";
}

.stack-info:before {
    content: "\ea0c";
}

.stack-arrow-up2:before {
    content: "\ea3a";
}

.stack-arrow-right2:before {
    content: "\ea3c";
}

.stack-arrow-down2:before {
    content: "\ea3e";
}

.stack-arrow-left2:before {
    content: "\ea40";
}

.stack-checkbox-checked:before {
    content: "\ea52";
}

.stack-checkbox-unchecked:before {
    content: "\ea53";
}

.stack-radio-checked2:before {
    content: "\ea55";
}

.stack-radio-unchecked:before {
    content: "\ea56";
}

.stack-share:before {
    content: "\ea7d";
}

.stack-file-pdf:before {
    content: "\eadf";
}

.stack-file-word:before {
    content: "\eae1";
}